hw/hw3.json
[
    {
        "id": "a6f8e4a.0ae0618",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10d31be7.2ed7a4",
        "type": "inject",
        "z": "a6f8e4a.0ae0618",
        "name": "timestamp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "df9ea751.168838"
            ]
        ]
    },
    {
        "id": "df9ea751.168838",
        "type": "function",
        "z": "a6f8e4a.0ae0618",
        "name": "Payload",
        "func": "msg.headers={devicekey:\"TD7epCSxLAoo7MIN\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "d914402c.da21d"
            ]
        ]
    },
    {
        "id": "d914402c.da21d",
        "type": "http request",
        "z": "a6f8e4a.0ae0618",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://api.mediatek.com/mcs/v2/devices/D6EKC3mV/datachannels/LEDControl/datapoints.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "d31767ab.67efd8",
                "25d43a60.885d96"
            ]
        ]
    },
    {
        "id": "d31767ab.67efd8",
        "type": "http response",
        "z": "a6f8e4a.0ae0618",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "25d43a60.885d96",
        "type": "debug",
        "z": "a6f8e4a.0ae0618",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 480,
        "wires": []
    }
]
