hw/hw4.json
[
    {
        "id": "c1445aae.1b7518",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2e788989.2f9d66",
        "type": "http in",
        "z": "c1445aae.1b7518",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "41d5e225.5c47bc"
            ]
        ]
    },
    {
        "id": "7c8cfd2.e10df04",
        "type": "rpi-gpio in",
        "z": "c1445aae.1b7518",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 230,
        "y": 540,
        "wires": [
            [
                "54520afc.705ee4"
            ]
        ]
    },
    {
        "id": "54520afc.705ee4",
        "type": "function",
        "z": "c1445aae.1b7518",
        "name": "Set GPIO",
        "func": "global.set(\"GPIO\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "26f4f938.a627e6"
            ]
        ]
    },
    {
        "id": "41d5e225.5c47bc",
        "type": "function",
        "z": "c1445aae.1b7518",
        "name": "Get GPIO",
        "func": "msg.payload = global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "26f4f938.a627e6",
                "fcc7cbd2.838be8"
            ]
        ]
    },
    {
        "id": "fcc7cbd2.838be8",
        "type": "http response",
        "z": "c1445aae.1b7518",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "26f4f938.a627e6",
        "type": "debug",
        "z": "c1445aae.1b7518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 620,
        "y": 480,
        "wires": []
    }
]
