hw/hw5.json
[
    {
        "id": "d7a8c859.ccdaa8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1262fcf5.420c63",
        "type": "http in",
        "z": "d7a8c859.ccdaa8",
        "name": "SET GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a1b86cc9.42bc9",
                "fdaca2e0.80d3"
            ]
        ]
    },
    {
        "id": "a1b86cc9.42bc9",
        "type": "function",
        "z": "d7a8c859.ccdaa8",
        "name": "set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "2c2bb740.b6d1c8"
            ]
        ]
    },
    {
        "id": "2c2bb740.b6d1c8",
        "type": "rpi-gpio out",
        "z": "d7a8c859.ccdaa8",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "fdaca2e0.80d3",
        "type": "function",
        "z": "d7a8c859.ccdaa8",
        "name": "return status",
        "func": "msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "cb2ac971.23ba78",
                "8ef120bf.5dca1"
            ]
        ]
    },
    {
        "id": "8ef120bf.5dca1",
        "type": "debug",
        "z": "d7a8c859.ccdaa8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "cb2ac971.23ba78",
        "type": "http response",
        "z": "d7a8c859.ccdaa8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "e0b3394a.f13178",
        "type": "function",
        "z": "d7a8c859.ccdaa8",
        "name": "clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "2c2bb740.b6d1c8"
            ]
        ]
    },
    {
        "id": "f811f1a7.1816e",
        "type": "http in",
        "z": "d7a8c859.ccdaa8",
        "name": "",
        "url": "/cleargpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "e0b3394a.f13178",
                "e78fc2e.a5f854"
            ]
        ]
    },
    {
        "id": "e78fc2e.a5f854",
        "type": "function",
        "z": "d7a8c859.ccdaa8",
        "name": "return status",
        "func": "msg.payload = \"GPIO5 set to low\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "8ef120bf.5dca1",
                "cb2ac971.23ba78"
            ]
        ]
    }
]
